{# SPDX-License-Identifier: Apache-2.0 #}
{
    "short_name": "{{ peer.id }}",
    "name": "{{ peer.ibp.display_name }}",
    "api_url": "{{ ibp[peer.id].protocol }}://{{ ibp[peer.id].hostname }}:{{ ibp[peer.id].port }}",
    {% if ibp[peer.id].protocol == 'grpcs' %}
    "pem": "{{ lookup('file', ibp[peer.id].pem) | b64encode }}",
    {% endif %}
    "type": "fabric-peer",
    "msp_id": "{{ organization.msp.id }}",
    "wallet": "{{ organization.wallet | basename }}",
    "identity": "{{ organization.msp.admin.identity }}"
}